@import "variables";

.button-container {
    height: 50px;
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    justify-content: flex-end;
    border-radius: $box-border-radius;
    
    .button-icon-container {
        width: 50px;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-icon-container:hover {
        background-color: $main-color;
    }
}


.menu-added {
    display: none;
    opacity: 0;
    position: absolute;
    height: 70vh;
    width: 70vh;
    background-color: gray;
    transition: all 0.2s;
    border-radius: $box-border-radius;
}
