@import "variables";

.button-container {
    height: 50px;
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    border-radius: $box-border-radius;
    justify-content: flex-end;
    
    .button-icon-container {
        width: 50px;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-icon-container:hover {
        background-color: $main-color;
    }
}


.menu-added {
    display: none;
    opacity: 0;
    position: absolute;
    height: 70vh;
    width: 70vh;
    background: rgb(243,220,192);
    background: radial-gradient(circle, rgba(243,220,192,1) 0%, rgba(128,50,23,1) 100%);
    transition: all 0.2s;
    border-radius: $box-border-radius;
}
